body {
  background-color: #ededed;
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

/* Accessibility Hack */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

/* Typography */
.post__name,
.post__likes-count,
.post__body {
  font-size: 0.81rem;
}

.post__location {
  font-size: 0.75rem;
  font-weight: 400;
}

.oldagram-header__logo {
  max-width: 7.94rem;
}

.post__avatar,
.oldagram-header__profile {
  max-width: 2.13rem;
  max-height: 2.13rem;
}

.post__username {
  font-weight: 700;
}

.oldagram-header__profile,
.post__avatar {
  border-radius: 50%;
}

/* Layout */
.oldagram-header,
.posts__item {
  background-color: #fff;
}
.oldagram-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.94rem;
  border-bottom: 1px solid #c6c6c6;
}

.post__user-profile {
  display: flex;
  gap: 0.44em;
  padding: 0.63em;
}

.oldagram-header__profile-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.post__image {
  max-width: 100%;
  margin-bottom: 1.31em;
}

.post__actions {
  display: flex;
  margin-bottom: 0.75em;
}

.post__icon {
  display: inline-block;
  border: 0;
  background: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.post__likes-count,
.post__body {
  padding: 0 0.63em;
}

.post__likes-count {
  margin-bottom: 0.75em;
}

.post__body {
  display: flex;
  gap: 0.5em;
  padding-bottom: 0.63em;
}

.posts__item {
  margin-bottom: 1.56em;
}

@media (min-width: 768px) {
  body {
    padding: 1rem;
  }

  header,
  main {
    max-width: 450px;
    margin: auto;
  }
}
